
@* <h1>Find and Replace</h1>
<form action="/results" method="post">
  <label for="str">Enter a String: </label>
  <input type="text" name="str" required>
  <br>
  <br>
  <label for="word">Choose a word from string to replace: </label>
  <input type="text" name="word" required>
  <br>
  <br>
  <label for="replace">Enter any word to replace the choosen word: </label>
  <input type="text" name="replace" required>
  <br>
  <br>
  <button type="submit" name="button">Final String</button>
</form> *@
